USE [master]
GO
/****** Object:  Database [CreditosF]    Script Date: 17/8/2023 15:52:51 ******/
CREATE DATABASE [CreditosF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreditosF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CreditosF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CreditosF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CreditosF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreditosF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreditosF]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/8/2023 15:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Tel] [varchar](20) NOT NULL,
	[Dir] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FechaReg] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 17/8/2023 15:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[NumCuenta] [int] NOT NULL,
	[FechaAper] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[SaldoAPagar] [float] NOT NULL,
	[MontoLimite] [float] NOT NULL,
	[MontoDispo] [float] NOT NULL,
	[ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NumCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 17/8/2023 15:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[NumMov] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[Descripcion] [varchar](40) NOT NULL,
	[MontoCompra] [float] NOT NULL,
	[NumCuenta] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimientos]    Script Date: 17/8/2023 15:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[NumCuenta] [int] NOT NULL,
	[FechaMov] [date] NOT NULL,
	[TipoMov] [varchar](20) NOT NULL,
	[MontoMov] [float] NOT NULL,
	[NombreDelResp] [varchar](50) NOT NULL,
	[NumMov] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NumMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Clientes] ([ID])
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD FOREIGN KEY([NumCuenta])
REFERENCES [dbo].[Cuentas] ([NumCuenta])
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD FOREIGN KEY([NumMov])
REFERENCES [dbo].[Movimientos] ([NumMov])
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD FOREIGN KEY([NumCuenta])
REFERENCES [dbo].[Cuentas] ([NumCuenta])
GO
USE [master]
GO
